body {
  background-color: #d3d3d3;
  font-size: 10px
}

.main {
  width: 90%;
  padding: 1.5em;
  min-height: 500px;
  margin: 0 auto;
  background-color: #eee
}

.search-box {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  margin: 0 auto
}

.search-box > input {
  font-size: 1.6em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    background: url('/images/search.jpg') no-repeat;
    color: #6b6c6d;
    background-position: left 10px center;
    background-size: 20px 20px;
    background-color: #fff;
    text-indent: 40px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid #DBDCDD;
    outline: 0;
    box-shadow: 0 3px 3px .5px rgba(0,0,0,0.04)
}

.sub-main {
  min-height: 60%;
  border: 1px solid #000
}

.header {
  min-height: 40px;
  margin-top: 30px;
  border: 1px solid #efefef
}

.header > h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.2em;
  font-weight: lighter;
  color: #6B6C6D
}

.content, .content:not(:first-child) {
  min-height: 80px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #DBDCDD;
  padding: 1px;
  background-color: #fff
}

.content, .content:first-child{
  border-top: 1px solid #dbdcdd
}

.has-collaboration:after {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background: transparent url('/images/collaborative.jpg') no-repeat;
  background-size: contain;
  background-position: center bottom
}

.main-img {
  width: 13%;
  height: 60px;
  padding: 10px;
  float: left;
  background-color: #F4F5F6
}

.image {
  width: 90%;
  height: 90%
}

.info-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  background: url('/images/info.jpg') no-repeat;
  background-size: contain
}

.name {
  height: 60px;
  padding: 10px
}

.name > h4 {
  width: 220px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  color: #464849;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.name > p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  color: #A8A9AA
}

.spreadsheet {
  background: url('/images/spreadsheet.jpg') no-repeat;
  background-size: contain;
  background-position: center center
}

.text {
  background: url('/images/document.jpg') no-repeat;
  background-size: contain;
  background-position: center center
}

h4.name-list, p.description {
  margin: 0
}

.info {
  width: 80%;
  float: right;
  position: relative
}

@media (min-width: 767px) {
  .main {
    width: 50%
  }
}

@media (width: 320px) {
  body {
    margin: 0
  }
  .main {
    width: 91%
  }
}
